# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Folders
db

# Others
PLAN.MD
